@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap');
html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(to right,  #7FFFD4 0%,#b3ffb3 25%,#b3ecff 50%,#ffcce0 75%,#ffd6cc 100%);
  font-family: 'Zilla Slab', serif;
}
hr {
    display: block;
    height: 2px;
    border: 0;   
    border-top: 1px solid #262626;
    margin: 1em 0;
    padding: 0;
}

#navbardrop, #me {
	color: #fff;
}
#myNav1{
	background-color: #2F4F4F;
}

#myNav1 .nav1div ul li{
	margin-left: 100px;
  z-index: 9999 !important;
}

#myNav1 .bars button{
	color: #fff;
  margin-left: -9px;
  border:1px solid #ffff00;
}
@media only screen and (max-width: 992px) {

  #myNav1 .nav1div ul li{
  margin-left: 0;
  }
}

.myNav2 {
	background-color: rgb(33, 44, 149);
	font-size: 25px;
}

.myNav2 #icon-3dot{
  cursor: pointer;
}
.myNav2 #cart{
  color: #ffff00;
  font-size:50px;
}
.myNav2 a{
	color: #fff;
}
.myNav2 #search input{
}

@media only screen and (max-width: 992px) {

  	.myNav2 {
  	font-size: 20px;
  }

  .myNav2 #cart{
    color: #ffff00;
    font-size:30px;
  }
  .myNav2 a{
  	color: #fff;
  }
	  .myNav2 #search input{
	  margin-left: -13px;
	}
  .myNav2 #search{
    margin-left: 0;
    margin-top: 15px;
  }
}

.myNav2 form button{
	margin-left: 0;
	margin-right: 60px;
	margin-top: 15px;
	background-color: #00ff00;
	color: #808000;
}

.container .slide{
	margin:20px 0;
}
.container .group{
	margin-top: 50px;
}

.container div .active img{
	cursor: pointer;
}


/*  CATEGORIES  ============================================================================= */

.container .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/*  GROUPING  ============================================================================= */


.container .group:before,
.container .group:after {
    content:"";
    display:table;
}
.container .group:after {
    clear:both;
}
.container .group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.container .group .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.container .group .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 600px) {
	.container .group .col {
		margin: 1% 4%;
	}
}

/*  GRID OF SIX   ============================================================================= */
.container .group .span_1_of_6 {
  	width: 15.33%;
}
.col:hover{
  background: #262626;
  opacity: 80%;
  color: #fff;
}
.cateimg{
	width: 140px;
	height: 140px;
  cursor: pointer;
}
.col h6{
  font-size: 16px;
  font-weight: bold;
}
/*  GO FULL WIDTH AT LESS THAN 992 PIXELS */

@media only screen and (max-width: 600px) {
 .container .group .span_1_of_6{
		 width: 35%;
	}
}



/*footer*/
.site-footer
{
  background-color:#262626;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#669999;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  padding-top: 8px; 
  margin-right:8px;
  border-radius:50%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.envelope:hover
{
  background: linear-gradient(to right,  #4285F4 0%, #BB001B 25%,#EA4335 50%,#FBBC05 75%,#34A853 100%);
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/*extra*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2d8659;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.5s;
}
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn i {
  margin-top: 5.5px;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: #ffff00;
}

.sidenav .closebtn {
  position: absolute;
  color: #ff0000;
  top: 0;
  right: 5px;
  font-size: 40px;
  margin-left: 50px;
  border:1px solid #ff0000;
}
.sidenav .closebtn:hover{
  background-color: #ff0000;
}
#main {
  transition: margin-left .5s;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
  transition: 0.6s;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media only screen and (max-height: 480px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*/extra*/





/*PRODUCT PAGE STYLE*/

/*END OF PRODUCT PAGE STYLE*/